---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="Avions_Logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>home</title>
	</head>
	<body>
        <p>this will be the home page for avions</p>
	</body>
</html>
