---

---

<main>
    <div class="header">
        <h1>About Us</h1>
        <div class="logo">
            <a href="">
                <img src="/Users/hemakshbreja/Programming/astro exploring/avions/avions-on-web/public/Avions_logontext.jpeg" alt="Logo_to_home" />
            </a>
        </div>
    </div>
    <div class="body">
        <div class="maincontent">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Aliquid sunt a eum, hic deserunt assumenda. Dolore harum placeat
                ad nulla minima vitae est quis! Alias eligendi perspiciatis
                deleniti accusamus impedit ad explicabo est minus dicta
                cupiditate voluptatibus harum, animi ut fuga repellendus, illum
                odio! Similique in nostrum obcaecati, ipsa repudiandae adipisci
                dignissimos consequuntur nihil corporis at quaerat minus
                provident maiores.
            </p>
        </div>
        <div class="experience">
            <div class="exp_left">
                <p><h5>Glazing content</h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi facilis sapiente placeat accusamus? Sed labore temporibus cupiditate numquam? Eius atque labore omnis voluptatibus saepe iste, beatae quidem ratione reprehenderit dignissimos. Minima quo vel labore veniam consequatur? Odit asperiores maxime, accusamus quis dolorum nostrum quaerat enim iusto quod impedit ipsa ipsum?</p>
            </div>
            <div class="exp_right">
                <a href="">
                    <img src="Avions_logontext.jpeg" alt="glazing pics">
                </a>
            </div>
        </div>
        <div class="al">
            <h3>Our Alluminis</h3>
            <div class="al_scroll">
                <div class="Avions-24">
                    <img src="" alt="pic" />
                    <h3>Avions-24</h3>    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo ab officiis nostrum impedit assumenda consequuntur tempora earum architecto recusandae!</p>
                </div>
                <div class="Avions-24">
                    <img src="" alt="pic" />
                    <h3>Avions-24</h3>    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo ab officiis nostrum impedit assumenda consequuntur tempora earum architecto recusandae!</p>
                </div>
                <div class="Avions-23">
                    <img src="" alt="pic" />
                    <h3>Avions-23</h3>    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo ab officiis nostrum impedit assumenda consequuntur tempora earum architecto recusandae!</p>
                </div>
                <div class="Avions-22">
                    <img src="" alt="pic" />
                    <h3>Avions-22</h3>    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo ab officiis nostrum impedit assumenda consequuntur tempora earum architecto recusandae!</p>
                </div>
                <div class="Avions-21">
                    <img src="" alt="pic" />
                    <h3>Avions-21</h3>    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo ab officiis nostrum impedit assumenda consequuntur tempora earum architecto recusandae!</p>
                </div>
            </div>
        </div>
        <div class="dump">
            <h3>Memory Dump</h3>
            <div class="dump_item one">
                <img src="" alt="" />
            </div>
            <div class="dump_item two">
                <img src="" alt="" />
            </div>
            <div class="dump_item three">
                <img src="" alt="" />
            </div>
            <div class="dump_item four">
                <img src="" alt="" />
            </div>
            <div class="dump_item five">
                <img src="" alt="" />
            </div>
            <div class="dump_item six">
                <img src="" alt="" />
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer">
            <div class="foot_left">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="foot_right">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</main>


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


</style>
